@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #AD2B31;
    color: white;
    height: 70px;
}

.link {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    font-family: 'Righteous', cursive;
  }
  .link span {
    transition: all 0.3s;
  }
  .link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .link:hover span {
    letter-spacing: 2px;
  }
  .link:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
  }
  .link:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

section > video{
    display: flex;
    width: 100%;
}

article{
    background-color: rgba(0, 0, 0, 0.226);
    font-family: 'Righteous', cursive;
    font-size: 100px;
    width: auto;
    height: 500px;
    text-align: center;
    padding-top: 180px;
}

#s2 {
    background: black url('../midia/lojas.jpg') no-repeat center top fixed;
    background-size: cover;
    width: auto;
    height: 500px;
}
#s3 {
    background: black url('../midia/cinema.jpg') no-repeat center top fixed;
    background-size: cover;
    width: auto;
    height: 500px;
}
#s4 {
    background: black url('../midia/alimentacao.jpg') no-repeat center top fixed;
    background-size: cover;
    width: auto;
    height: 500px;
}
#s5 {
    background: black url('../midia/restaurantes.jpg') no-repeat center top fixed;
    background-size: cover;
    width: auto;
    height: 500px;
}
#s6 {
    background: black url('../midia/contato.jpg') no-repeat center top fixed;
    background-size: cover;
    width: auto;
    height: 500px;
}

.section {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    font-family: 'Righteous', cursive;
  }
  .section span {
    transition: all 0.3s;
  }
  .section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .section:hover span {
    letter-spacing: 2px;
  }
  .section:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
  }
  .section:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

footer{
    background-color: #AD2B31;
    color: white;
    font-size: 10px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    width: auto;
}

footer > p{
    color: white;
    font-size: 15px;
}

footer > p > a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 3px;
    width: auto;
}